USE [text_to_sql_final]
GO
ALTER TABLE [dbo].[UserRole] DROP CONSTRAINT [FK_UserRole_Users]
GO
ALTER TABLE [dbo].[UserRole] DROP CONSTRAINT [FK_UserRole_Roles]
GO
ALTER TABLE [dbo].[Students] DROP CONSTRAINT [FK_Students_Users]
GO
ALTER TABLE [dbo].[Students] DROP CONSTRAINT [FK_Students_Majors]
GO
ALTER TABLE [dbo].[StudentGradeDetails] DROP CONSTRAINT [FK_StudentGradeDetails_Enrollments]
GO
ALTER TABLE [dbo].[StudentGradeDetails] DROP CONSTRAINT [FK_StudentGradeDetails_CourseGrade]
GO
ALTER TABLE [dbo].[Schedules] DROP CONSTRAINT [FK_Schedules_ClassCourse]
GO
ALTER TABLE [dbo].[RolePermission] DROP CONSTRAINT [FK_RolePermission_Roles]
GO
ALTER TABLE [dbo].[RolePermission] DROP CONSTRAINT [FK_RolePermission_Permissions]
GO
ALTER TABLE [dbo].[Lecturers] DROP CONSTRAINT [FK_Lecturers_Users]
GO
ALTER TABLE [dbo].[Lecturers] DROP CONSTRAINT [FK_Lecturers_Departments]
GO
ALTER TABLE [dbo].[Enrollments] DROP CONSTRAINT [FK_Enrollments_Students]
GO
ALTER TABLE [dbo].[Enrollments] DROP CONSTRAINT [FK_Enrollments_ClassCourse]
GO
ALTER TABLE [dbo].[Curriculums] DROP CONSTRAINT [FK_Curriculumns_Majors]
GO
ALTER TABLE [dbo].[Curriculums] DROP CONSTRAINT [FK_Curriculumns_Courses]
GO
ALTER TABLE [dbo].[CourseGrade] DROP CONSTRAINT [FK_CourseGrade_Courses]
GO
ALTER TABLE [dbo].[ClassCourse] DROP CONSTRAINT [FK_ClassCourse_Lecturers]
GO
ALTER TABLE [dbo].[ClassCourse] DROP CONSTRAINT [FK_ClassCourse_Courses]
GO
ALTER TABLE [dbo].[ClassCourse] DROP CONSTRAINT [FK_ClassCourse_Classes]
GO
ALTER TABLE [dbo].[Attendance] DROP CONSTRAINT [FK_Attendance_Schedules]
GO
ALTER TABLE [dbo].[Attendance] DROP CONSTRAINT [FK_Attendance_Enrollments]
GO
/****** Object:  Index [IX_Users]    Script Date: 6/5/2025 3:36:29 PM ******/
ALTER TABLE [dbo].[Users] DROP CONSTRAINT [IX_Users]
GO
/****** Object:  Index [IX_Enrollments]    Script Date: 6/5/2025 3:36:29 PM ******/
ALTER TABLE [dbo].[Enrollments] DROP CONSTRAINT [IX_Enrollments]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 6/5/2025 3:36:29 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Users]') AND type in (N'U'))
DROP TABLE [dbo].[Users]
GO
/****** Object:  Table [dbo].[UserRole]    Script Date: 6/5/2025 3:36:29 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UserRole]') AND type in (N'U'))
DROP TABLE [dbo].[UserRole]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 6/5/2025 3:36:29 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Students]') AND type in (N'U'))
DROP TABLE [dbo].[Students]
GO
/****** Object:  Table [dbo].[StudentGradeDetails]    Script Date: 6/5/2025 3:36:29 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[StudentGradeDetails]') AND type in (N'U'))
DROP TABLE [dbo].[StudentGradeDetails]
GO
/****** Object:  Table [dbo].[Schedules]    Script Date: 6/5/2025 3:36:29 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Schedules]') AND type in (N'U'))
DROP TABLE [dbo].[Schedules]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 6/5/2025 3:36:29 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Roles]') AND type in (N'U'))
DROP TABLE [dbo].[Roles]
GO
/****** Object:  Table [dbo].[RolePermission]    Script Date: 6/5/2025 3:36:29 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RolePermission]') AND type in (N'U'))
DROP TABLE [dbo].[RolePermission]
GO
/****** Object:  Table [dbo].[Permissions]    Script Date: 6/5/2025 3:36:29 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Permissions]') AND type in (N'U'))
DROP TABLE [dbo].[Permissions]
GO
/****** Object:  Table [dbo].[Majors]    Script Date: 6/5/2025 3:36:29 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Majors]') AND type in (N'U'))
DROP TABLE [dbo].[Majors]
GO
/****** Object:  Table [dbo].[Lecturers]    Script Date: 6/5/2025 3:36:29 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Lecturers]') AND type in (N'U'))
DROP TABLE [dbo].[Lecturers]
GO
/****** Object:  Table [dbo].[Enrollments]    Script Date: 6/5/2025 3:36:29 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Enrollments]') AND type in (N'U'))
DROP TABLE [dbo].[Enrollments]
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 6/5/2025 3:36:29 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Departments]') AND type in (N'U'))
DROP TABLE [dbo].[Departments]
GO
/****** Object:  Table [dbo].[Curriculums]    Script Date: 6/5/2025 3:36:29 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Curriculums]') AND type in (N'U'))
DROP TABLE [dbo].[Curriculums]
GO
/****** Object:  Table [dbo].[Courses]    Script Date: 6/5/2025 3:36:29 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Courses]') AND type in (N'U'))
DROP TABLE [dbo].[Courses]
GO
/****** Object:  Table [dbo].[CourseGrade]    Script Date: 6/5/2025 3:36:29 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CourseGrade]') AND type in (N'U'))
DROP TABLE [dbo].[CourseGrade]
GO
/****** Object:  Table [dbo].[Classes]    Script Date: 6/5/2025 3:36:29 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Classes]') AND type in (N'U'))
DROP TABLE [dbo].[Classes]
GO
/****** Object:  Table [dbo].[ClassCourse]    Script Date: 6/5/2025 3:36:29 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ClassCourse]') AND type in (N'U'))
DROP TABLE [dbo].[ClassCourse]
GO
/****** Object:  Table [dbo].[Attendance]    Script Date: 6/5/2025 3:36:29 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Attendance]') AND type in (N'U'))
DROP TABLE [dbo].[Attendance]
GO
USE [master]
GO
/****** Object:  Database [text_to_sql_final]    Script Date: 6/5/2025 3:36:29 PM ******/
DROP DATABASE [text_to_sql_final]
GO
/****** Object:  Database [text_to_sql_final]    Script Date: 6/5/2025 3:36:29 PM ******/
CREATE DATABASE [text_to_sql_final]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'text_to_sql_final', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\text_to_sql_final.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'text_to_sql_final_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\text_to_sql_final_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [text_to_sql_final].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [text_to_sql_final]
GO
/****** Object:  Table [dbo].[Attendance]    Script Date: 6/5/2025 3:36:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attendance](
	[enrollment_id] [varchar](50) NOT NULL,
	[schedule_id] [varchar](50) NOT NULL,
	[status] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Attendance] PRIMARY KEY CLUSTERED 
(
	[enrollment_id] ASC,
	[schedule_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClassCourse]    Script Date: 6/5/2025 3:36:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClassCourse](
	[class_course_id] [varchar](50) NOT NULL,
	[class_id] [varchar](10) NOT NULL,
	[course_id] [varchar](10) NOT NULL,
	[lecturer_id] [varchar](10) NOT NULL,
	[semester] [varchar](10) NOT NULL,
 CONSTRAINT [PK_ClassCourse] PRIMARY KEY CLUSTERED 
(
	[class_course_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Classes]    Script Date: 6/5/2025 3:36:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Classes](
	[class_id] [varchar](10) NOT NULL,
	[class_name] [varchar](255) NOT NULL,
 CONSTRAINT [PK_Classes] PRIMARY KEY CLUSTERED 
(
	[class_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CourseGrade]    Script Date: 6/5/2025 3:36:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CourseGrade](
	[course_grade_id] [varchar](50) NOT NULL,
	[course_id] [varchar](10) NOT NULL,
	[grade_name] [nvarchar](150) NOT NULL,
	[grade_weight] [float] NOT NULL,
 CONSTRAINT [PK_CourseGrade] PRIMARY KEY CLUSTERED 
(
	[course_grade_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Courses]    Script Date: 6/5/2025 3:36:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Courses](
	[course_id] [varchar](10) NOT NULL,
	[course_name] [nvarchar](150) NOT NULL,
	[no_credit] [tinyint] NOT NULL,
	[description] [nvarchar](255) NULL,
 CONSTRAINT [PK_Courses] PRIMARY KEY CLUSTERED 
(
	[course_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Curriculums]    Script Date: 6/5/2025 3:36:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Curriculums](
	[major_id] [varchar](10) NOT NULL,
	[course_id] [varchar](10) NOT NULL,
 CONSTRAINT [PK_Curriculumns] PRIMARY KEY CLUSTERED 
(
	[major_id] ASC,
	[course_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 6/5/2025 3:36:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[dep_id] [varchar](10) NOT NULL,
	[dep_name] [nvarchar](150) NOT NULL,
 CONSTRAINT [PK_Departments] PRIMARY KEY CLUSTERED 
(
	[dep_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Enrollments]    Script Date: 6/5/2025 3:36:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Enrollments](
	[enrollment_id] [varchar](50) NOT NULL,
	[student_id] [varchar](10) NOT NULL,
	[class_course_id] [varchar](50) NOT NULL,
	[average] [float] NOT NULL,
	[status] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Enrollments] PRIMARY KEY CLUSTERED 
(
	[enrollment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lecturers]    Script Date: 6/5/2025 3:36:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lecturers](
	[lecturer_id] [varchar](10) NOT NULL,
	[dep_id] [varchar](10) NOT NULL,
 CONSTRAINT [PK_Lecturers] PRIMARY KEY CLUSTERED 
(
	[lecturer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Majors]    Script Date: 6/5/2025 3:36:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Majors](
	[major_id] [varchar](10) NOT NULL,
	[major_name] [nvarchar](150) NOT NULL,
 CONSTRAINT [PK_Majors] PRIMARY KEY CLUSTERED 
(
	[major_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permissions]    Script Date: 6/5/2025 3:36:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permissions](
	[permission_id] [varchar](10) NOT NULL,
	[permission_name] [nvarchar](150) NOT NULL,
 CONSTRAINT [PK_Permissions] PRIMARY KEY CLUSTERED 
(
	[permission_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RolePermission]    Script Date: 6/5/2025 3:36:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolePermission](
	[role_id] [varchar](10) NOT NULL,
	[permission_id] [varchar](10) NOT NULL,
 CONSTRAINT [PK_RolePermission] PRIMARY KEY CLUSTERED 
(
	[role_id] ASC,
	[permission_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 6/5/2025 3:36:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[role_id] [varchar](10) NOT NULL,
	[role_name] [nvarchar](150) NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Schedules]    Script Date: 6/5/2025 3:36:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Schedules](
	[schedule_id] [varchar](50) NOT NULL,
	[class_course_id] [varchar](50) NOT NULL,
	[start_time] [datetime] NOT NULL,
	[end_time] [datetime] NOT NULL,
	[room] [nvarchar](50) NOT NULL,
	[slot] [tinyint] NOT NULL,
 CONSTRAINT [PK_Schedules] PRIMARY KEY CLUSTERED 
(
	[schedule_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentGradeDetails]    Script Date: 6/5/2025 3:36:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentGradeDetails](
	[enrollment_id] [varchar](50) NOT NULL,
	[course_grade_id] [varchar](50) NOT NULL,
	[grade_value] [float] NULL,
	[comment] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_StudentGradeDetails] PRIMARY KEY CLUSTERED 
(
	[enrollment_id] ASC,
	[course_grade_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 6/5/2025 3:36:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[student_id] [varchar](10) NOT NULL,
	[major_id] [varchar](10) NOT NULL,
	[start_date] [date] NOT NULL,
	[start_semester] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Students] PRIMARY KEY CLUSTERED 
(
	[student_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRole]    Script Date: 6/5/2025 3:36:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRole](
	[user_id] [varchar](10) NOT NULL,
	[role_id] [varchar](10) NOT NULL,
 CONSTRAINT [PK_UserRole] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC,
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 6/5/2025 3:36:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[username] [varchar](50) NOT NULL,
	[password] [varchar](150) NOT NULL,
	[user_id] [varchar](10) NOT NULL,
	[fullname] [nvarchar](50) NOT NULL,
	[user_gender] [nvarchar](50) NOT NULL,
	[user_dob] [date] NOT NULL,
	[user_address] [nvarchar](150) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Attendance] ([enrollment_id], [schedule_id], [status]) VALUES (N'HE00001_AI_K1_FA23_AIL301_SU24', N'AI_K1_FA23_AIL301_SU24_S1', N'Present')
INSERT [dbo].[Attendance] ([enrollment_id], [schedule_id], [status]) VALUES (N'HE00001_AI_K1_FA23_AIL301_SU24', N'AI_K1_FA23_AIL301_SU24_S10', N'Future')
INSERT [dbo].[Attendance] ([enrollment_id], [schedule_id], [status]) VALUES (N'HE00001_AI_K1_FA23_AIL301_SU24', N'AI_K1_FA23_AIL301_SU24_S2', N'Present')
GO
INSERT [dbo].[ClassCourse] ([class_course_id], [class_id], [course_id], [lecturer_id], [semester]) VALUES (N'AI_K1_FA23_AIL301_SU24', N'AI_K1_FA23', N'AIL301', N'LEC003', N'SU24')
INSERT [dbo].[ClassCourse] ([class_course_id], [class_id], [course_id], [lecturer_id], [semester]) VALUES (N'AI_K1_FA23_CSD201_SP24', N'AI_K1_FA23', N'CSD201', N'LEC002', N'SP24')
INSERT [dbo].[ClassCourse] ([class_course_id], [class_id], [course_id], [lecturer_id], [semester]) VALUES (N'AI_K1_FA23_NLP302_SU24', N'AI_K1_FA23', N'NLP302', N'LEC004', N'SU24')
GO
INSERT [dbo].[Classes] ([class_id], [class_name]) VALUES (N'AI_K1_FA23', N'AI01')
INSERT [dbo].[Classes] ([class_id], [class_name]) VALUES (N'AI_K2_SP24', N'AI02')
INSERT [dbo].[Classes] ([class_id], [class_name]) VALUES (N'CS_K1_FA23', N'CS01')
GO
INSERT [dbo].[CourseGrade] ([course_grade_id], [course_id], [grade_name], [grade_weight]) VALUES (N'AIE303_Essay', N'AIE303', N'Essay', 0.3)
INSERT [dbo].[CourseGrade] ([course_grade_id], [course_id], [grade_name], [grade_weight]) VALUES (N'AIE303_Final_Exam', N'AIE303', N'Final Exam', 0.4)
INSERT [dbo].[CourseGrade] ([course_grade_id], [course_id], [grade_name], [grade_weight]) VALUES (N'AIE303_Final_Resit', N'AIE303', N'Final Resit', 0.4)
GO
INSERT [dbo].[Courses] ([course_id], [course_name], [no_credit], [description]) VALUES (N'AIE303', N'AI Ethics and Society', 3, N'Ethical considerations and societal impact of AI technologies.')
INSERT [dbo].[Courses] ([course_id], [course_name], [no_credit], [description]) VALUES (N'AIL301', N'Artificial Intelligence and Machine Learning', 3, N'Core concepts of AI and machine learning algorithms.')
INSERT [dbo].[Courses] ([course_id], [course_name], [no_credit], [description]) VALUES (N'AIV304', N'AI in Vision', 3, N'Application of AI techniques in computer vision tasks.')
GO
INSERT [dbo].[Curriculums] ([major_id], [course_id]) VALUES (N'AI', N'AIE303')
INSERT [dbo].[Curriculums] ([major_id], [course_id]) VALUES (N'AI', N'AIL301')
INSERT [dbo].[Curriculums] ([major_id], [course_id]) VALUES (N'AI', N'AIV304')
GO
INSERT [dbo].[Departments] ([dep_id], [dep_name]) VALUES (N'D01', N'Computing Fundamental')
INSERT [dbo].[Departments] ([dep_id], [dep_name]) VALUES (N'D02', N'Artificial Intelligence')
INSERT [dbo].[Departments] ([dep_id], [dep_name]) VALUES (N'D03', N'Information Assurance')
GO
INSERT [dbo].[Enrollments] ([enrollment_id], [student_id], [class_course_id], [average], [status]) VALUES (N'HE00001_AI_K1_FA23_AIL301_SU24', N'HE00001', N'AI_K1_FA23_AIL301_SU24', 0, N'Studying')
INSERT [dbo].[Enrollments] ([enrollment_id], [student_id], [class_course_id], [average], [status]) VALUES (N'HE00001_AI_K1_FA23_CSD201_SP24', N'HE00001', N'AI_K1_FA23_CSD201_SP24', 8, N'Passed')
INSERT [dbo].[Enrollments] ([enrollment_id], [student_id], [class_course_id], [average], [status]) VALUES (N'HE00001_AI_K1_FA23_NLP302_SU24', N'HE00001', N'AI_K1_FA23_NLP302_SU24', 0, N'Studying')
GO
INSERT [dbo].[Lecturers] ([lecturer_id], [dep_id]) VALUES (N'LEC001', N'D02')
INSERT [dbo].[Lecturers] ([lecturer_id], [dep_id]) VALUES (N'LEC002', N'D04')
INSERT [dbo].[Lecturers] ([lecturer_id], [dep_id]) VALUES (N'LEC003', N'D01')
GO
INSERT [dbo].[Majors] ([major_id], [major_name]) VALUES (N'AI', N'Artificial Intelligence')
INSERT [dbo].[Majors] ([major_id], [major_name]) VALUES (N'CS', N'Computer Science')
INSERT [dbo].[Majors] ([major_id], [major_name]) VALUES (N'IA', N'Information Assurance')
GO
INSERT [dbo].[Permissions] ([permission_id], [permission_name]) VALUES (N'P001', N'View all majors')
INSERT [dbo].[Permissions] ([permission_id], [permission_name]) VALUES (N'P002', N'View courses in curriculums')
INSERT [dbo].[Permissions] ([permission_id], [permission_name]) VALUES (N'P003', N'View course details')
GO
INSERT [dbo].[RolePermission] ([role_id], [permission_id]) VALUES (N'R001', N'P001')
INSERT [dbo].[RolePermission] ([role_id], [permission_id]) VALUES (N'R001', N'P002')
INSERT [dbo].[RolePermission] ([role_id], [permission_id]) VALUES (N'R001', N'P003')
GO
INSERT [dbo].[Roles] ([role_id], [role_name]) VALUES (N'R001', N'Student')
INSERT [dbo].[Roles] ([role_id], [role_name]) VALUES (N'R002', N'Lecturer')
INSERT [dbo].[Roles] ([role_id], [role_name]) VALUES (N'R003', N'Training Manager')
GO
INSERT [dbo].[Schedules] ([schedule_id], [class_course_id], [start_time], [end_time], [room], [slot]) VALUES (N'AI_K1_FA23_AIL301_SU24_S1', N'AI_K1_FA23_AIL301_SU24', CAST(N'2024-05-06T07:30:00.000' AS DateTime), CAST(N'2024-05-06T09:50:00.000' AS DateTime), N'R001', 1)
INSERT [dbo].[Schedules] ([schedule_id], [class_course_id], [start_time], [end_time], [room], [slot]) VALUES (N'AI_K1_FA23_AIL301_SU24_S10', N'AI_K1_FA23_AIL301_SU24', CAST(N'2024-07-08T07:30:00.000' AS DateTime), CAST(N'2024-07-08T09:50:00.000' AS DateTime), N'R001', 1)
INSERT [dbo].[Schedules] ([schedule_id], [class_course_id], [start_time], [end_time], [room], [slot]) VALUES (N'AI_K1_FA23_AIL301_SU24_S2', N'AI_K1_FA23_AIL301_SU24', CAST(N'2024-05-13T07:30:00.000' AS DateTime), CAST(N'2024-05-13T09:50:00.000' AS DateTime), N'R001', 1)
GO
INSERT [dbo].[StudentGradeDetails] ([enrollment_id], [course_grade_id], [grade_value], [comment]) VALUES (N'HE00001_AI_K1_FA23_AIL301_SU24', N'AIL301_Assignment_1', 9, N'Grade Recorded')
INSERT [dbo].[StudentGradeDetails] ([enrollment_id], [course_grade_id], [grade_value], [comment]) VALUES (N'HE00001_AI_K1_FA23_AIL301_SU24', N'AIL301_Assignment_2', 7.5, N'Grade Recorded')
INSERT [dbo].[StudentGradeDetails] ([enrollment_id], [course_grade_id], [grade_value], [comment]) VALUES (N'HE00001_AI_K1_FA23_AIL301_SU24', N'AIL301_Final_Exam', NULL, N'Awaiting Grade')
GO
INSERT [dbo].[Students] ([student_id], [major_id], [start_date], [start_semester]) VALUES (N'HE00001', N'AI', CAST(N'2023-09-04' AS Date), N'FA23')
INSERT [dbo].[Students] ([student_id], [major_id], [start_date], [start_semester]) VALUES (N'HE00002', N'AI', CAST(N'2023-09-04' AS Date), N'FA23')
INSERT [dbo].[Students] ([student_id], [major_id], [start_date], [start_semester]) VALUES (N'HE00003', N'AI', CAST(N'2023-09-04' AS Date), N'FA23')
GO
INSERT [dbo].[UserRole] ([user_id], [role_id]) VALUES (N'HE00001', N'R001')
INSERT [dbo].[UserRole] ([user_id], [role_id]) VALUES (N'HE00002', N'R001')
INSERT [dbo].[UserRole] ([user_id], [role_id]) VALUES (N'HE00003', N'R001')
GO
INSERT [dbo].[Users] ([username], [password], [user_id], [fullname], [user_gender], [user_dob], [user_address]) VALUES (N'anhdv', N'hashed_password_lec', N'LEC005', N'Đỗ Việt Anh', N'male', CAST(N'1983-09-12' AS Date), N'Cần Thơ')
INSERT [dbo].[Users] ([username], [password], [user_id], [fullname], [user_gender], [user_dob], [user_address]) VALUES (N'binhnv', N'hashed_password_lec', N'LEC001', N'Nguyễn Văn Bình', N'male', CAST(N'1980-03-15' AS Date), N'Hà Nội')
INSERT [dbo].[Users] ([username], [password], [user_id], [fullname], [user_gender], [user_dob], [user_address]) VALUES (N'he00001_user', N'hashed_password_stu', N'HE00001', N'Nguyễn Văn An', N'male', CAST(N'2003-01-10' AS Date), N'Hà Nội')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Enrollments]    Script Date: 6/5/2025 3:36:29 PM ******/
ALTER TABLE [dbo].[Enrollments] ADD  CONSTRAINT [IX_Enrollments] UNIQUE NONCLUSTERED 
(
	[student_id] ASC,
	[class_course_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Users]    Script Date: 6/5/2025 3:36:29 PM ******/
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [IX_Users] UNIQUE NONCLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Attendance]  WITH CHECK ADD  CONSTRAINT [FK_Attendance_Enrollments] FOREIGN KEY([enrollment_id])
REFERENCES [dbo].[Enrollments] ([enrollment_id])
GO
ALTER TABLE [dbo].[Attendance] CHECK CONSTRAINT [FK_Attendance_Enrollments]
GO
ALTER TABLE [dbo].[Attendance]  WITH CHECK ADD  CONSTRAINT [FK_Attendance_Schedules] FOREIGN KEY([schedule_id])
REFERENCES [dbo].[Schedules] ([schedule_id])
GO
ALTER TABLE [dbo].[Attendance] CHECK CONSTRAINT [FK_Attendance_Schedules]
GO
ALTER TABLE [dbo].[ClassCourse]  WITH CHECK ADD  CONSTRAINT [FK_ClassCourse_Classes] FOREIGN KEY([class_id])
REFERENCES [dbo].[Classes] ([class_id])
GO
ALTER TABLE [dbo].[ClassCourse] CHECK CONSTRAINT [FK_ClassCourse_Classes]
GO
ALTER TABLE [dbo].[ClassCourse]  WITH CHECK ADD  CONSTRAINT [FK_ClassCourse_Courses] FOREIGN KEY([course_id])
REFERENCES [dbo].[Courses] ([course_id])
GO
ALTER TABLE [dbo].[ClassCourse] CHECK CONSTRAINT [FK_ClassCourse_Courses]
GO
ALTER TABLE [dbo].[ClassCourse]  WITH CHECK ADD  CONSTRAINT [FK_ClassCourse_Lecturers] FOREIGN KEY([lecturer_id])
REFERENCES [dbo].[Lecturers] ([lecturer_id])
GO
ALTER TABLE [dbo].[ClassCourse] CHECK CONSTRAINT [FK_ClassCourse_Lecturers]
GO
ALTER TABLE [dbo].[CourseGrade]  WITH CHECK ADD  CONSTRAINT [FK_CourseGrade_Courses] FOREIGN KEY([course_id])
REFERENCES [dbo].[Courses] ([course_id])
GO
ALTER TABLE [dbo].[CourseGrade] CHECK CONSTRAINT [FK_CourseGrade_Courses]
GO
ALTER TABLE [dbo].[Curriculums]  WITH CHECK ADD  CONSTRAINT [FK_Curriculumns_Courses] FOREIGN KEY([course_id])
REFERENCES [dbo].[Courses] ([course_id])
GO
ALTER TABLE [dbo].[Curriculums] CHECK CONSTRAINT [FK_Curriculumns_Courses]
GO
ALTER TABLE [dbo].[Curriculums]  WITH CHECK ADD  CONSTRAINT [FK_Curriculumns_Majors] FOREIGN KEY([major_id])
REFERENCES [dbo].[Majors] ([major_id])
GO
ALTER TABLE [dbo].[Curriculums] CHECK CONSTRAINT [FK_Curriculumns_Majors]
GO
ALTER TABLE [dbo].[Enrollments]  WITH CHECK ADD  CONSTRAINT [FK_Enrollments_ClassCourse] FOREIGN KEY([class_course_id])
REFERENCES [dbo].[ClassCourse] ([class_course_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Enrollments] CHECK CONSTRAINT [FK_Enrollments_ClassCourse]
GO
ALTER TABLE [dbo].[Enrollments]  WITH CHECK ADD  CONSTRAINT [FK_Enrollments_Students] FOREIGN KEY([student_id])
REFERENCES [dbo].[Students] ([student_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Enrollments] CHECK CONSTRAINT [FK_Enrollments_Students]
GO
ALTER TABLE [dbo].[Lecturers]  WITH CHECK ADD  CONSTRAINT [FK_Lecturers_Departments] FOREIGN KEY([dep_id])
REFERENCES [dbo].[Departments] ([dep_id])
GO
ALTER TABLE [dbo].[Lecturers] CHECK CONSTRAINT [FK_Lecturers_Departments]
GO
ALTER TABLE [dbo].[Lecturers]  WITH CHECK ADD  CONSTRAINT [FK_Lecturers_Users] FOREIGN KEY([lecturer_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Lecturers] CHECK CONSTRAINT [FK_Lecturers_Users]
GO
ALTER TABLE [dbo].[RolePermission]  WITH CHECK ADD  CONSTRAINT [FK_RolePermission_Permissions] FOREIGN KEY([permission_id])
REFERENCES [dbo].[Permissions] ([permission_id])
GO
ALTER TABLE [dbo].[RolePermission] CHECK CONSTRAINT [FK_RolePermission_Permissions]
GO
ALTER TABLE [dbo].[RolePermission]  WITH CHECK ADD  CONSTRAINT [FK_RolePermission_Roles] FOREIGN KEY([role_id])
REFERENCES [dbo].[Roles] ([role_id])
GO
ALTER TABLE [dbo].[RolePermission] CHECK CONSTRAINT [FK_RolePermission_Roles]
GO
ALTER TABLE [dbo].[Schedules]  WITH CHECK ADD  CONSTRAINT [FK_Schedules_ClassCourse] FOREIGN KEY([class_course_id])
REFERENCES [dbo].[ClassCourse] ([class_course_id])
GO
ALTER TABLE [dbo].[Schedules] CHECK CONSTRAINT [FK_Schedules_ClassCourse]
GO
ALTER TABLE [dbo].[StudentGradeDetails]  WITH CHECK ADD  CONSTRAINT [FK_StudentGradeDetails_CourseGrade] FOREIGN KEY([course_grade_id])
REFERENCES [dbo].[CourseGrade] ([course_grade_id])
GO
ALTER TABLE [dbo].[StudentGradeDetails] CHECK CONSTRAINT [FK_StudentGradeDetails_CourseGrade]
GO
ALTER TABLE [dbo].[StudentGradeDetails]  WITH CHECK ADD  CONSTRAINT [FK_StudentGradeDetails_Enrollments] FOREIGN KEY([enrollment_id])
REFERENCES [dbo].[Enrollments] ([enrollment_id])
GO
ALTER TABLE [dbo].[StudentGradeDetails] CHECK CONSTRAINT [FK_StudentGradeDetails_Enrollments]
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD  CONSTRAINT [FK_Students_Majors] FOREIGN KEY([major_id])
REFERENCES [dbo].[Majors] ([major_id])
GO
ALTER TABLE [dbo].[Students] CHECK CONSTRAINT [FK_Students_Majors]
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD  CONSTRAINT [FK_Students_Users] FOREIGN KEY([student_id])
REFERENCES [dbo].[Users] ([user_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Students] CHECK CONSTRAINT [FK_Students_Users]
GO
ALTER TABLE [dbo].[UserRole]  WITH CHECK ADD  CONSTRAINT [FK_UserRole_Roles] FOREIGN KEY([role_id])
REFERENCES [dbo].[Roles] ([role_id])
GO
ALTER TABLE [dbo].[UserRole] CHECK CONSTRAINT [FK_UserRole_Roles]
GO
ALTER TABLE [dbo].[UserRole]  WITH CHECK ADD  CONSTRAINT [FK_UserRole_Users] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[UserRole] CHECK CONSTRAINT [FK_UserRole_Users]
GO
USE [master]
GO
